name: Build & Release macOS App

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  
jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Setup Keychain
        run: |
          echo "$CERT_P12" | base64 --decode > cert.p12
          security create-keychain -p "" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain
          security import cert.p12 -k build.keychain -P "$CERT_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k "" build.keychain
        env:
          CERT_P12: ${{ secrets.CERT_P12 }}
          CERT_PASSWORD: ${{ secrets.CERT_PASSWORD }}

      - name: Build app
        run: |
          export GIT_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          export GIT_BUILD=$(git rev-list --count HEAD || echo "0" )
          echo "GIT TAG: " ${GIT_TAG} " - GIT BUILD " ${GIT_BUILD}
          
          cat > "kfsNotes/AppInfo.swift" <<EOF
          struct AppInfo {
            static let version = "$GIT_TAG"
            static let build = "$GIT_BUILD"
            static let full: String = "\(version) (\(build))"
          }
          EOF

          cat kfsNotes/AppInfo.swift

          xcodebuild \
            -scheme kfsNotes \
            -configuration Release \
            -derivedDataPath build 

      - name: Codesign app
        run: |
          APP="build/Build/Products/Release/kfsNotes.app"
          xattr -cr "$APP"

          codesign --force --deep \
            --options runtime \
            --timestamp=none \
            --sign "Pavel Dřímalka" \
            "$APP"

          codesign --verify --deep --strict "$APP"

      - name: Zip app
        run: |
          ditto -c -k --sequesterRsrc --keepParent \
            build/Build/Products/Release/kfsNotes.app \
            kfsNotes.app.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: kfsNotes.app.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Calculate SHA256
        run: |
          shasum -a 256 kfsNotes.app.zip | awk '{print $1}' > sha.txt
      - name: Checkout Homebrew tap
        uses: actions/checkout@v4
        with:
          repository: k0fis/homebrew-kfsnotes
          token: ${{ secrets.TAP_GITHUB_TOKEN }}
          path: tap
      - name: Update cask
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          SHA=$(cat sha.txt)

          CASK="tap/Casks/kfsnotes.rb"

          sed -i '' "s/version \".*\"/version \"${VERSION}\"/" "$CASK"
          sed -i '' "s/sha256 \".*\"/sha256 \"${SHA}\"/" "$CASK"

      - name: Commit & push cask update
        run: |
          cd tap
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add Casks/kfsnotes.rb
          git commit -m "kfsnotes ${GITHUB_REF#refs/tags/v}"
          git push
    

